.table-head {
  background: $blue;
  font-weight: bold;
  color: white;
}

.green-row {
  background: $green;
}

.yellow-row {
  background: $yellow;
}

.red-row {
  background: $red;
}

.gray-row {
  background: $gray;
}

.table {
  width: 100%;
  color: black;
  border-collapse: collapse;
  tr {
    border: 2px solid white;
  }
  td {
    text-align: center;
    padding: $s-size;
  }
}

.table__link {
  text-decoration: none;
  color: white;
  background: $blue;
  padding: $m-size $m-size;
  border-radius: 2px;
}

.table__select {
  padding: $s-size;
  background: $off-white;
  border: 1px solid darken($off-white, 7%);
}

.table-whole {
  margin-bottom: $l-size;
}

.status-select {
  width: 150px;
}

.interview-select {
  width: 210px;
}

.form-select {
  width: 210px;
}
